    <div class="col-9">
      <h1>Description</h1>
      <p>The reading group organized by the <a href="https://orderlab.io/">OrderLab</a>
        covers latest advances in the research of computer systems. Students will
        read and discuss recent papers in top systems conferences such as OSDI, SOSP,
        NSDI, EuroSys, and ASPLOS.
      </p>
      <p>Each week, one student will present the paper and lead the discussion. Other students
        should read the paper to be presented <b class="text-danger">before</b> the seminar.
        This seminar is supposed to generate in-depth discussions. It is impossible to do so
        without reading the paper first.
      </p>
      <p>The focus topics covered in the papers vary semester to semester. Example topics include
        fault-tolerance, reliability, verification, energy efficiency, and
        virtualization. The presenter decides which paper to present. In general,
        select the papers that are relevant to your research project first (i.e.,
        depth-first). If you are not sure, check with me first
        before preparing the presentation. Also, try to avoid picking papers that
        have already been picked in the past (the past schedules are linked on the
        left-side menu).
      </p>
      <p>The presentation announcements are sent via the mailing list <a href="mailto:{{MAILING_LIST}}">{{MAILING_LIST}}</a>,
        which will also be used to generate follow-up discussions of the presented paper.
        Students who wish to sign up for the mailing list, please email <a href="mailto:{{SIGNUP_EMAIL}}">{{SIGNUP_EMAIL}}</a>.
      </p>

      <h1>Schedule</h1>
      <table class="table-bordered schedule">
        <tr class="info">
          <th class="date">Date</th>
          <th class="presenter">Presenter</th>
          <th class="title">Title</th>
          <th class="conference">Conference</th>
          <th class="material">Material</th>
        </tr>
{{SCHEDULE_ROWS}}
      </table>
    </div>
    <div class="col-2">
    </div>  
  </div>
</body>
</html>